<h1> show your task </h1>
<h2><%= @task.title %></h2>
<h3><%= @task.details %></h3>
<h4> <input type="checkbox" <%= @task.completed ? "checked" : '' %>>  this task is not completed yet  </h4>
<h5><%= link_to 'Back to list', tasks_path  %></h5>

<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
